{% extends "envol/core.html.twig" %}

{% block body %}
	<!-- BANDEAU TITRE -->
	<div class="row bd-titre bd-orange">
		<div class="container">
			<h2 id="titre-ic">INSCRIPTION</h2>
		</div> <!-- container -->
	</div> <!-- row -->

	<!-- CORPS DE PAGE -->
	<div class="container corps-page">
		<!-- Texte -->
		<div class="row justify-content-center">
			<div class="col-sm-6">
				<h5 class="sous-titre">Une dernière étape</h5>
				<hr class="hr-titre">
				<br>
			</div> <!-- col -->
		</div> <!-- row -->
		<div class="row justify-content-center">
			<div class="col-sm-4 justi-txt">
				<p>Nous venons de vous envoyer un e-mail.<br>
					Veuillez aller l'ouvrir et cliquer sur le lien qu'il contient afin de valider votre inscription.<br>
					Il se peut que le mail soit marqué comme spam, pensez à vérifier dans la boîte des courriers indésirables.</p>
			</div> <!-- col -->
		</div> <!-- row -->
	</div> <!-- container -->

{% endblock %}
