{% extends "envol/standard.html.twig" %}

{% block container %}
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h3 class="titre-page">Liste des parties de JDR</h3>
            <hr class="hr-titre">
        </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs nav-fill w-100">
                 {#class="active"#}
                {# @var round \App\Entity\Round #}
                {% for key, round in options.rounds %}
                    <li class="nav-item" data-toggle="tooltip" title="">
                        <a class="nav-link {% if arguments[0] == round.slug %}active{% endif %}" href="{{ path('activity.module.list', {'slug': activityType.slug, 'arguments': round.slug } ) }}">{{ round.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="text-left">
        {# @var activity \App\Entity\Activity #}
        {% for activity in activities %}
             - {{ activity.name }}<br>
        {% endfor %}
    </div>

{% endblock %}
