
    <div class="row justify-content-center mt-3">
        <div class="col">

            {% if app.user %}
                {% if is_granted('ROLE_JDS') %}

            {#<div class="alert alert-success w-100">
                <a href="{{ path('boardgame.add', {'time' : active_round.code }) }}"><span class="badge badge-success">Ajouter une table</span></a>
            </div>#}
                    <a href="{{ path('boardgame.add', {'time' : active_round.code }) }}" class="btn btn-success btn-lg btn-block" >Ajouter une table</a>

                {% endif %}
            {% else %}
                <div class="alert alert-info w-100">
                    Connectez-vous pour pouvoir rejoindre une partie de jeu de société.
                </div>
            {% endif %}
        </div>
    </div> <!-- row -->
    <br>

        <div class="d-flex flex-wrap align-content-stretch">
            {% for activity in activities %}
            <div id="table-{{ event.id }}" class="col-sm-12 col-md-4">
                {% include 'envol/block/boardgame-activity.html.twig' with {'activity': activity} %}
            </div>
            {% endfor %}
        </div>


