
    <div class="row justify-content-center mt-3">
        <div class="col">

        {% if app.user %}

            {% if eventuser.isRoundTimeFree( active_round ) %}
                <div class="alert alert-success w-100">
                    <a href="{{ path('roleplay.add', {'time' : active_round.code }) }}"><span class="badge badge-success">Ajouter une table</span></a>
                </div>
            {% else %}
                <div class="alert alert-info w-100">
                    Vous ne pouvez pas ajouter une table sur ce créneau horaire car vous êtes déja inscrit sur un jeu.
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-info w-100">
                Connectez-vous pour pouvoir ajouter ou rejoindre une table de jeu de rôles.
            </div>
        {% endif %}
        </div>
    </div> <!-- row -->
    <br>

        <div class="d-flex flex-wrap align-content-stretch">
            {% for event in events %}
            <div id="table-{{ event.id }}" class="col-sm-12 col-md-4 mb-3">
                {% include 'envol/block/roleplay-event.html.twig' with {'event': event} %}
            </div>
            {% endfor %}
        </div>


