body {
	background: url("../images/ricepaper2.png")left top repeat;
	background-color: #F5F3F0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #575656;
}

body a {
	color: #575656;
}

/*-------NAV TOP-------*/
.nav-top {
	background-color: #4b4b4b;
	margin-right: 0;
	margin-left: 0;

}

.nav-top>div>a>img {
	margin-top: 5px;
	margin-right: 10px;
}

.btn {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    /*border: 1px solid transparent;*/
    /*border-radius: 0;*/
    float: right;
}


.btn-connex {
	background-color: #195D94;
	color: #fff;
}
.btn-connex:hover {
	background-color: #55A8B5;
}
.btn-inscri {
	background-color: #E77C00;
	color: #fff;
}
.btn-inscri:hover {
	background-color: #FFA337;
}

.btn-tab {
	border-radius: 4px!important;
	float: right;
	display: inline-block;
}


.responsive-menu {
	background-color: #4b4b4b;
}

.responsive-menu span{
	background-color: white;
}
/*BOUTON PROFIL*/
.link-nav-top {
	margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 3;
    padding: 0 5px;
    background-color: #195D94;
    border: 1px solid transparent;
    border-radius: 0;
    float: right;
    list-style: none;
}
.link-nav-top:hover {
	background-color: #55A8B5;	
}
.link-nav-top a {
	color: #fff;
	text-decoration: none;
	padding: 15px;
}
.link-nav-top a:hover {
	text-decoration: none;
}




/*-------NAV GEN-------*/
.navbar-brand {
    padding: 0 0;
}

.nav-gen {
	padding-top: 15px;
	padding-bottom: 30px;
	margin-bottom: 0;
	background-color: white;
}
#ul-nav-gen {
	margin-top: 15px;
}

.navbar-nav{
	float: right;
}

/*-------SLIDE-------*/
#slide {
	position: relative;
	z-index: 1;
}

/*-------CORPS DE PAGE-------*/
/*Styles communs à toutes pages*/

/*Fond blanc*/
.corps-page {
	position: relative;
	z-index: 2;
	margin-top: -2%;
	padding: 15px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.50);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.50);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.50);
    text-align: center;
}

/*Bandeau titre*/
.bd-titre h2 {
	margin-top: 0;
	font-weight: 800;
}
.bd-titre img {
	max-height: 95px;
}
@media screen and (max-width: 400px) {
	.bd-titre img {
		display: none;
	}
	.bd-titre h2 {
		margin-top: 30px;
	}
}

/*Orange ou Bleu*/
.bd-orange {
	background-image: url("../images/bandeau-orange.png");
	height: 120px;
	text-align: center;
	color: #fff;
	font-weight: 900;
	width: 100%;
	margin: 0;
}
.bd-bleu {
	background-image: url("../images/bandeau-bleu.png");
	height: 120px;
	text-align: center;
	color: #fff;
	font-weight: 900;
	width: 100%;
	margin: 0;
}

/*Titre page*/
.titre-page {
	font-size: 34px;
	font-weight: 300;
}
.hr-titre {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1.5px solid #ccc;
}
.sous-titre {
	font-size: 22px;
	font-weight: 300;
	color: #aaa;
}

/*Autres*/
.lien-contact {
	font-size: 16px;
	color: #55a8b5;
	text-decoration: underline; 
}
.lien-contact:hover {	
	color: #e77c00;
}

.sup-padd {
	padding: 0;
}

.justi-txt {
	text-align: left;	
	text-align: justify;
    text-justify: inter-word;	
}

.btn-success {
    color: #fff;
    background-color: #195D94;
    border-color: #0d4c7e;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    float: none;
}
.btn-success:hover {
    color: #fff;
    background-color: #55A8B5;
    border-color: #4497a4;
}



/*-------PAGE D'ACCUEIL-------*/
/*Introduction*/
.phenix-trans {
	z-index: 3;
	max-width: 200px;
	max-height: 200px;
	margin-left: 15px;
}

.intro {
	position: relative;
	z-index: 4;
}
.intro h2 {
	font-weight: 300;
}

/*Présentation Catégories*/
.pres-cate {
	margin-top: 50px;
}
.pres-cate h4{
	font-size: 26px;
	font-weight: 600;
}
.pres-cate img {
	max-width: 100px;
}
#ronde{
	text-align: center;
	font-weight: 700;
}


/*>>>>> Flipping Animate <<<<*/

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateX(180deg);
}
.flip-container, .front, .back {
  width: 114px;
  height: 114px;
}
/* flip speed goes here */
.flipper {
  transition: 0.5s;
  transform-style: preserve-3d;
  /*position: relative;*/
}
/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateX(0deg);
}
/* back, initially hidden pane */
.back {
  transform: rotateX(180deg);
}
.flip-container .flipper {
  transform-origin: 100% 57px;
}
.flip-container{
  display: inline-block;
}
#containrel div.flip-container:nth-child(2) {
  margin-left: 0;
}

/*Partenaires*/
.part h3 {
	font-weight: 700;
	line-height: 2;
}
.part hr {
  display: inline-block;
  border-top: 3px solid #575656;
  width: 20%;
  margin: 8px 15px;
}
@media screen and (max-width: 500px) {
	.part hr {
		display: block;
		margin: auto;
	}
}

.part>div>a>img {
	height: 90px;
	margin: 8px;
	border-radius: 3px;
}

/*-------JDR - PRESENTATION-------*/

/*Images PJ*/
.pj {
	margin-top: 20px;
}
.pj1, .pj2 {
	margin-top: 30px;
}
.pj3 {
	margin: 5px 5px;
}

@media screen and (max-width: 768px) {
	.pj1 {margin: 5px 5px;}
	.pj2 {display: none;}
}
@media screen and (max-width: 412px) {
	.pj1 {display: none;}
}
@media screen and (min-width: 768px) {
	.pj3 {display: none;}
}

/*Paragraphes*/
.txt-jdr {
	margin-top: 50px;
	text-align: left;
}

.txt-jdr img {
	margin: 20px 0;
}

/*-------JDR - LISTE DES TABLES-------*/
.nav-liste {
	margin-top: 40px;
}

/*Encadrés tables*/
.card-blue {
    border-color: #0B3754;
}
.card-blue .card-header {
    color: #fff;
    background-color: #1A5E94;
    border-color: #0B3754;
}
.card-header h4 {
	font-weight: 600;
	line-height: 19.8px;
	font-size: 18px;
}
.card-body {
	text-align: left;
	line-height: 23px;
	font-size: 18px;
}


/*-------JDR - CONCOURS DE SCENARIO-------*/
.conc-scenar {
	text-align: left;
	margin-top: 60px;
}
#list-rglmt {
	list-style-type:decimal;
}
#list-rglmt li {
	margin-top: 10px;
}
#vtl-line-red {
    border-left:5px solid #A40E0D;
}


/*-------PRESENTATION WARGAME-------*/
#pres-wg {
	text-align: justify;
    text-justify: inter-word;	
}
#wgb1 {
	margin-bottom: 30px; 
}
@media screen and (max-width: 1200px) {
	#wgb2 {display: none;}
}

/*------- FURY : OUTBURST CONTROL -------*/
.img-fury {
	margin: 0 auto;
}

/*-------INSCRIPTION/CONNEXION-------*/
#titre-ic {
	margin-top: 30px;
}
.form-ic {
	text-align: left;
}
.form-ic button {
	width: 100%;
}

/*-------ERREUR 404-------*/
#error {
	background: url(../images/ced.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#error body {
	background-image: none;
	background-color: transparent;
	color: #fff;
	font-weight: 600;
	text-align: center;
}
#error h3 {
	font-size: 36px;
	font-weight: 600;
}
#error h5 {
	font-size: 24px;
	font-weight: 600;
}
#error hr {
	border-top: 1.5px solid #fff;
}
#error p {
	font-size: 18px;
	font-weight: 600;
}
#error a {
	color: #fff;
	font-weight: 900;
}
#error a:hover {	
	text-decoration: underline;
}

/*--------CONTACT / INFOS-------*/
#vtl-line-gold {
	border-left:5px solid #b79131;
}

#ss-titre-infos {
	font-size: 22px;
	font-weight: 300;
	color: #2e2e2e;
}
 iframe {
 	margin-bottom: 30px;
 }

 /*-------INVITÉS-------*/
 .card-invites {
    border-color: #bb6604;
}
.card-invites > .card-header {
    color: #fff;
    background-color: #E77C00;
    border-color: #bb6604;
}
.card-invites em {
	color: #E77C00;
}

/*---------EDT--------*/

.table-custom th{
	border-top: none !important;
}
.table-custom tr {
	height: 40px;
	position: relative;
}

.table-custom td {
	padding : 8px;
}



.cell-time {
	border : none !important;
}
.cell-time span{
	position: relative;
	top : -18px;
}

.card-light {
	margin: 0;
	font-size: 15px;
	background-image: url("../images/bandeau-orange.png");
	color: #fff;

}

.card-light h4 {
	font-size: 17px;
	font-weight: bold;
}






/*-------FOOTER-------*/
footer {
	color: white;
	background-color: #4b4b4b;
	padding-top: 20px;
}

/*NAVIGATION*/
footer nav {
	padding-left: 15px;
	border-left:2px solid #fff;
}
footer a {
	color: #fff;
	font-size: 12px;
}
footer a:hover {
	color: #e77c00;
	text-decoration: none;
}
footer li {
	line-height: 1;
}
footer ul {
	padding: 0;
	list-style-type: none;
}

#nav-hidden {
	visibility: hidden;
}
@media screen and (max-width: 760px) {
	#nav-hidden {
		display: none;
	}
}


/*
			BOOTSTRAP PATCH 3 -> 4
 */

.dropdown-menu {
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	font-size: 14px;
}

h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}