{% extends "envol/core.html.twig" %}

{% block body %}


    <!-- BANDEAU TITRE -->
    <div class="row bd-titre bd-orange">
        <div class="container">
            <h2 id="titre-ic">INSCRIPTION</h2>
        </div> <!-- container -->
    </div> <!-- row -->

    <!-- CORPS DE PAGE -->
    <div class="container corps-page">
        <!-- Texte -->
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <h5 class="sous-titre">Merci de remplir le formulaire</h5>
                <hr class="hr-titre">
                <br>
            </div> <!-- col -->
        </div> <!-- row -->
        {#<div class="alert alert-warning" style="font-size: small" role="alert">#}
            {#<p>Cette année, faute de place, <strong>nous ne pouvons plus faire dormir les participants sur la scene</strong>. Pour palier à ce problème le phénix a mis en place un partenariat avec le lycée Clément Marot. Pour la modique somme de 5€ par nuit vous pourrez bénéficier d'une place dans une chambre de 4 avec sanitaires qui se situe à une dizaine de minutes à pied. Vous devez amener votre linge / sac de couchage. Si vous souhaitez réserver une chambre indiquez le dans le formulaire ci-dessous et envoyez nous un chêque du montant adéquat :</p>#}
            {#<p>Ordre : MJC Cahors</p>#}
            {#<p>Adresse : 201 rue Clémenceau <br> 46000 CAHORS</p>#}
        {#</div>#}
        <div class="row justify-content-center">
            <div class="col-sm-4 form-ic">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-success" value="M'inscrire" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}