{% extends "envol/standard.html.twig" %}

{% block title_banner %}
    Admin
{% endblock %}

{% block container %}
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h3 class="titre-page">Panneau d'administration</h3>
            <hr class="hr-titre">
            <span>Panneau d'administration</span>
        </div> <!-- col -->
    </div> <!-- row -->
    <div class="row justify-content-center mt-4">
        <div class="col-sm-4">
            <ul>
            {% for menu in user.rights %}
                <li><a href="{{ path('admin.view.list', {'type': menu.slug}) }}">{{ menu.name }}</a></li>
                {#<li>{{ menu.name }}</li>#}
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}