{% extends "envol/standard.html.twig" %}

{% block container %}
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h3 class="titre-page">Liste des activités</h3>
            <hr class="hr-titre">
        </div> <!-- col -->
    </div> <!-- row -->

    <div id="list-wrapper" data-type="{{ activityType.slug }}">
        <div class="d-flex flex-wrap mt-5" >
            {# @var activity \App\Entity\Activity #}
            {% for activity in activities %}
                <div class="col-6 mb-4">
                    {% include 'envol/pages/activity/default/block/activity.block.html.twig'  with {'activity': activity, 'view': view } only %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax/ajax.activity.list.js') }}"></script>
{% endblock %}