{% extends "envol/core.html.twig" %}

{% block body %}
    <!-- BANDEAU TITRE -->
    <div class="row bd-titre bd-orange">
        <div class="container">
            <h2 id="titre-ic">{{ title }}</h2>
        </div> <!-- container -->
    </div> <!-- row -->

    <!-- CORPS DE PAGE -->
    <div class="container corps-page">
        <!-- Texte -->
        <div class="row justify-content-center">
            <div class="col-sm-6 ">
                <h5 class="sous-titre">{{ subtitle }}</h5>
                <hr class="hr-titre">
                <br>
            </div> <!-- col -->
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-sm-offset-4 col-sm-4 justi-txt">
                <p>{{ message|raw }}</p>
            </div> <!-- col -->
        </div> <!-- row -->
    </div> <!-- container -->

{% endblock %}