{% extends "envol/standard.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <h3 class="titre-page">Liste des tables de jeu de rôles</h3>
            <hr class="hr-titre">
        </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">

            <ul class="nav nav-tabs nav-liste">
                {# class="active" #}
                {% for key, round in rounds %}
                    <li {% if key == active_round.code %} class="active" {% endif %} data-toggle="tooltip" title=""><a href="{{ path('roleplay', {'time': key}) }}">{{ round.name }}</a></li>
                {% endfor %}
            </ul>

            <ul class="nav nav-pills nav-justified">
                <li><a href="{{ path('roleplay.add', {'time' : active_round.code }) }}">Ajouter une table</a></li>
            </ul>

    </div> <!-- row -->

    <br>
    <div class="row">
    {% for event in events %}
        {% include 'envol/block/roleplay-event.html.twig' with {'event': event} %}
    {% endfor %}
    </div>

{% endblock %}