{% extends "envol/standard.html.twig" %}

{% block stylesheets %}
    {{  parent() }}
{% endblock %}

{% block container %}
    <div class="row justify-content-center">
        <div class="col-sm-8 ">
            <h3 class="titre-page">Votre emploi du temps</h3>
            <hr class="hr-titre">
        </div> <!-- col -->
    </div> <!-- row -->


    <div class="row">
        {% set days = sEvent().getDays(event) %}
        {% for day in days %}
        <div class="col-sm-12 col-md-4">
            {{ day|dayAndNb }}
            {% for hour in 1..24 %}
                <div style="height: 60px; border-bottom: 1px solid lightgray">
                    {{ hour }}
                </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div> <!-- row -->

{% endblock %}