<h3>Merci de vous être inscrit.</h3>

Bonjour {{ name }},<br><br>
Merci de vous être inscrit sur le site de l'envol du phénix.<br><br>
Veuillez cliquer sur le lien ci-dessous afin de valider votre adresse email.<br><br>

<a href="{{ url('validate', { 'hash' : hash }) }}">Valider votre compte</a><br><br>.

Merci!<br><br>

L'équipe du Phénix Cadurcien.